.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.points-card {
  background: #fbfbfb;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  width: 100%;
  max-width: 73rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.points-info {
  flex: 1;
}

.points-row {
  display: flex;
  align-items: center;
}

.points-label {
  color: #666;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.points-value {
  font-size: 3rem;
  font-weight: bold;
  color: #174204;
  margin-right: 0.5rem;
}

.points-statement {
  display: flex;
  align-items: center;
  color: #174204;
  font-size: 1.5rem;
}

.coin-points {
  width: 7vh;
  height: 7vh;
}

.welcome-container {
  width: 100%;
  text-align: left;
  margin-top: 2rem;
}

.welcome-text {
  color: #174204;
  font-size: 2rem;
  margin: 0;
}

.animated-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

/* Responsividade */
@media (max-width: 768px) {
  .points-card {
    padding: 1.5rem;
  }

  .points-value {
    font-size: 2.5rem;
  }

  .coin-points {
    width: 6vh;
    height: 6vh;
  }

  .welcome-text {
    font-size: 1.7rem;
  }
}

@media (max-width: 480px) {
  .points-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.2rem;
    border-radius: 0.8rem;
  }

  .points-row {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .points-label {
    font-size: 1rem;
  }

  .points-value {
    font-size: 2rem;
  }

  .coin-points {
    width: 5vh;
    height: 5vh;
    align-self: flex-end;
    margin-top: 1rem;
  }

  .welcome-text {
    font-size: 1.4rem;
  }
}