

/* Container Principal */
.login-container {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
}

/* Header */
.login-header {
  background-color:rgb(0, 107, 9);
  padding: 24px;
  margin-bottom: 32px;
  width: 50rem;
  height: 6rem;
  text-align: center;
  border-radius: 0 0 24px 24px;
  z-index: 1;
}

.login-header h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}


.form-container-login {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 32px;
  background-color: #f3f3f3;
  border-radius: 0 0 16px 16px;
  z-index: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Links */
.forgot-password {
  text-align: left;
}

.forgot-password a, 
.create-account-login a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 0.875rem;
}

.forgot-password a:hover, 
.create-account-login a:hover {
  text-decoration: underline;
}

/* Botão de Login */
.login-button {
  width: 100%;
  padding: 16px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: var(--tertiary-color);
}

.logo-acc {
  filter: brightness(0) invert(1); /* Transforma a logo em branco */
  width: 35px; 
  height: auto; 
}

.showPass{
  all: unset;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #000000;
  align-self: flex-end;
  margin-top:-30px;
}

/* Responsividade */
@media (min-width: 768px) {
  .login-container {
    justify-content: center;
    padding-top: 0; 
    min-height: 100vh;
  }

  .login-header {
    max-width: 600px;
    margin-bottom: 0;
    border-radius: 24px 24px 0 0;
  }

  .form-container-login {
    max-width: 600px;
    padding: 48px;
    background: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }

  .login-button {
    padding: 20px;
    font-size: 1.1rem;
  }

  .forgot-password a, 
  .create-account-login a {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .login-header,
  .form-container-login {
    max-width: 800px;
  }

  .login-header h1 {
    font-size: 3rem;
  }
}