
.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}


.navbar-brand {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  color: #174204;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar-icon {
  width: 2rem;
  height: 2rem;
  align-self: flex-end;
}

.navbar-links {
  display: none;
}

.navbar-menu-button {
  display: block;
  padding: 0.5rem;
  color: #174204;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-menu-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.navbar-menu-button:hover {
  color: #86C26D;
}

/* responsivo */
.navbar-mobile-menu {
  transition: all 0.3s;
  overflow: hidden;
}

.navbar-mobile-menu.open {
  height: auto;
  opacity: 1;
}

.navbar-mobile-menu.closed {
  height: 0;
  opacity: 0;
}

.navbar-mobile-links {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}

/* links */
.navbar-link {
  display: block;
  padding: 0.75rem;
  color: #174204;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #86C26D;
}

.navbar-button-landing {
  background: #118B01;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.navbar-button:hover {
  background: #174204;
}

/* responsividade */
@media (min-width: 768px) {
  .navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navbar-menu-button {
    display: none;
  }

  .navbar-mobile-menu {
    display: none;
  }
}



.save-button {
  background: #28a745;
  color: white;
}

.save-button:hover {
  background: #218838;
}

.close-button {
  background: #6c757d;
  color: white;
}

.close-button:hover {
  background: #5a6268;
}


