/* Container Principal */
.register-container {
  min-height: 100vh;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  position: relative;
  overflow: hidden;
  padding: 1rem; /* Adiciona espaçamento interno */
}

/* Header */
.register-header {
  background-color: var(--primary-color);
  padding: 16px;
  width: 100%;
  max-width: 450px; /* Largura máxima */
  text-align: center;
  border-radius: 24px 24px 0 0;
  position: relative;
  z-index: 1;
}

.register-header h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/* Container do Formulário */
.form-container-register {
  width: 100%;
  max-width: 450px; /* Largura máxima */
  padding: 24px;
  background-color: white;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Inputs */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  color: #333;
  font-size: 0.875rem;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--light-color);
  font-size: 0.875rem;
}

.input-field:focus {
  outline: none;
  border-color: var(--tertiary-color);
  box-shadow: 0 0 0 2px rgba(50, 109, 25, 0.2);
}

/* Botão de Registro */
.register-button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: var(--tertiary-color);
}

/* Mensagens de Erro e Sucesso */
.error-message {
  color: #dc3545;
  font-size: 0.75rem;
  margin-top: 4px;
}

.success-message {
  color: #28a745;
  font-size: 0.75rem;
  margin-top: 4px;
}
.logo {
  filter: brightness(0) invert(1); /* Transforma a logo em branco */
  width: 30px; 
  height: auto; 
}

.account{
  text-decoration: none;
  color: #023b0f;
}

.account:hover{
  text-decoration:underline;
}

/* Responsividade */
@media (min-width: 768px) {
  .register-header,
  .form-container-register {
    max-width: 500px; /* Ajusta a largura para telas maiores */
  }

  .register-header h1 {
    font-size: 2.5rem;
  }

  .input-field {
    padding: 14px;
    font-size: 1rem;
  }

  .register-button {
    padding: 14px;
    font-size: 1rem;
  }
}