/* Container Principal */
.register-container {
  min-height: 100vh;
  background:#f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  position: relative;
  overflow: hidden;
  padding: 1rem; /* Adiciona espaçamento interno */
}

/* Header */
.register-header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #02491c;
  border-radius: 15px;
  width: 40rem;
}

.register-header h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.logo {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) invert(1);
}
/* Container do Formulário */
.form-container-register {
  width: 100%;
  max-width: 550px; /* Largura máxima */
  padding: 24px;
  /* background-color: rgba(255, 255, 255, 0.395); */
  border-radius: 0 0 24px 24px;
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); */
  position: relative;
  z-index: 1;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Inputs */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-label {
  color: #333;
  font-size: 0.875rem;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--light-color);
  font-size: 0.875rem;
}

.input-field:focus {
  outline: none;
  border-color: var(--tertiary-color);
  box-shadow: 0 0 0 2px rgba(50, 109, 25, 0.2);
}

/* Botão de Registro */
.register-button {
  width: 100%;
  background-color: #02491c;
  color: #f3f3f3;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0d301a;

}

/* Mensagens de Erro e Sucesso */
.error-message {
  color: #dc3545;
  font-size: 0.75rem;
  margin-top: 4px;
}

.success-message {
  color: #28a745;
  font-size: 0.75rem;
  margin-top: 4px;
}


.showPass{
  all: unset;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #000000;
  align-self: flex-end;
}

.account{
  font-size: 0.875rem;
  color: #065423;
  text-decoration: none;
  transition: color 0.2s;
  text-align: center;
}

.account:hover{
  text-decoration:underline;
}
.pass-req {
  font-size: 1rem;
  list-style: none;
  text-decoration: double;
  padding: 20px;
  
}

/* Responsividade */
@media (min-width: 768px) {
  .register-header,
  .form-container-register {
    max-width: 500px; /* Ajusta a largura para telas maiores */
  }

  .register-header h1 {
    font-size: 2.5rem;
  }

  .input-field {
    padding: 14px;
    font-size: 1rem;
  }

  .register-button {
    padding: 14px;
    font-size: 1rem;
  }
}